body 
{
	width: 400px;
	margin: auto;
	text-align: left;
	font-family: Verdana, "微软雅黑", Helvetica, sans-serif;
	background: none #ddd;
}

.title
{
	font-size: 15pt;
	font-weight: bold;
}

.instruction
{
	font-size: 10pt;
	color: rgba(135,135,135,1);
}

.counter
{
	font-size: 10pt;
}

#language-bar
{
	font-size: 10pt;
	float: right;
}

#guess-button
{
	display:block;
	background:url(../images/button_all.png);
	width: 231px;
	height: 48px;
	border: 0;
}

#guess-button:hover
{
	background-position:0 -48px;
	cursor:pointer;
}

#guess-button:active
{
	background-position:0 -96px;
}

#share-button
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.language-selector:hover
{
	text-decoration:underline;
	cursor:pointer;
}

#wrap 
{
	width: 360px;
	height: auto;
	margin: 20px auto;
	background: none #eee;
	padding: 30px 30px 30px 30px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#result{
	width: 300px;
	margin: 20px;
	background: none #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	/*display:none;*/
}

.word_eng{
	width: 150px;
	margin: auto;
	text-align: right;
}

.word_chs{
	width: 150px;
	margin: auto;
	text-align: left;
}

#footer
{
	padding-top: 10px;
	font-size: 8pt;
	color: rgba(135,135,135,1);
	position: relative;
}